.data-request {
  width: 100%;
}

.data-request__header {
  width: 100%;
  margin-bottom: 2rem;
}

.data-request__header__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.data-request__header__button {
  margin: 0.5rem 1rem;
}

.data-request__header__date {
  font-size: 0.8rem;
  color: grey;
  font-style: italic;
}

.data-request__body {
  width: 100%;
}

.data-request-form {
  display: flex;
}

.data-request-form__main,
.data-request-form__extra {
  width: 45%;
  padding: 0 4rem;
}

.data-request-form__extra {
  position: fixed;
  background-color: white;
  padding: 2rem;
  max-width: 600px;
  min-height: 400px;
}

.data-request-form__extra__title {
  font-size: 1.2rem;
  font-weight: normal;
  text-align: center;
}

.data-request-form__extra__close {
  position: absolute;
  right: 1rem;
  top: 1rem;
  background: none;
  border: none;
  color: var(--g3-color__gray);
  font-weight: normal;
  height: auto;
  width: auto;
}

.data-request-form__button-group {
  display: flex;
  justify-content: center;
  padding-top: 4rem;
}

.data-request-form__button-group > button {
  margin: 0 0.5rem;
}

.data-request-form__input__action {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.5rem;
}

.data-request-form__input__action-button {
  background: none;
  border: none;
  color: var(--g3-color__gray);
  font-weight: normal;
  height: auto;
  width: auto;
  text-decoration: underline;
}

.data-request-form__input__action-button:after {
  content: ' →';
}

.data-request-overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(245, 245, 245, 0.9);
  display: flex;
  z-index: 999;
  padding: 8rem 4rem 4rem;
}
